<div class="row">
    <div class="col-8 offset-4">
        <div class="d-flex" style="gap:15px; padding-left:5px;">
            <button type="submit" class="btn btn-info form-control">Update</button>
            <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
        </div>

    </div>
</div>